<ol class="priceLevel">
    <li>
      <div class="priceLevel-item" style="background: #888;">
          <div class="priceLevel-item-hd">
              <h3 class="hdg">Price level one</h3>
              <h4 class="hdg">prie level sub-heading</h4>
          </div>
          <div class="priceLevel-item-bd">
              <ol class="vlist mix-vlist_divided">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
              </ol>
          </div>
          <div class="priceLevel-item-ft">
          </div>
        </div>
    </li>
    <li>
        <div class="priceLevel-item" style="background: #eee;">
            <div class="priceLevel-item-hd">
                <h3 class="hdg">Price level two</h3>
                <h4 class="hdg">prie level sub-heading</h4>
            </div>
            <div class="priceLevel-item-bd">
                <ol class="vlist mix-vlist_divided">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                </ol>
            </div>
            <div class="priceLevel-item-ft">
            </div>
        </div>
    </li>
    <li>
        <div class="priceLevel-item" style="background: #888;">
            <div class="priceLevel-item-hd">
                <h3 class="hdg">Price level three</h3>
                <h4 class="hdg">prie level sub-heading</h4>
            </div>
            <div class="priceLevel-item-bd">
                <ol class="vlist mix-vlist_divided">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                </ol>
            </div>
            <div class="priceLevel-item-ft">
            </div>
        </div>
    </li>
</ol>
