<div class="txt txt-center">
    <div class="vr_8x">
        <h2 class="hdg hdg_1">Meet the Team</h2>
    </div>
    <ul class="blocks blocks_2up" data-controller="js-biographyCard">
        <li>
            <a href="#">
              <img src="http://fillmurray.com/g/300/300" alt="Team Member"/>
              <br />
              {fname} {lname}
              <br />
              {title}
            </a>
        </li>
        <li>
            <a href="#">
              <img src="http://fillmurray.com/g/300/300" alt="Team Member"/>
              <br />
              {fname} {lname}
              <br />
              {title}
            </a>
        </li>
        <li>
            <a href="#">
              <img src="http://fillmurray.com/g/300/300" alt="Team Member"/>
              <br />
              {fname} {lname}
              <br />
              {title}
            </a>
        </li>
        <li>
            <a href="#">
              <img src="http://fillmurray.com/g/300/300" alt="Team Member"/>
              <br />
              {fname} {lname}
              <br />
              {title}
            </a>
        </li>
        <li>
            <a href="#">
              <img src="http://fillmurray.com/g/300/300" alt="Team Member"/>
              <br />
              {fname} {lname}
              <br />
              {title}
            </a>
        </li>

    </ul>
</div>
