<div class="box box_medium box_narrow mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">About us</h2>
        </div>
        <div class="vr_6x">
          <img src="assets/images/stone-arch-bridge-minneapolis-mn.jpg" title="Stone Arch Bridge, Minneapolis, MN" />
        </div>
        <div class="vr_6x">
            <p class="txt txt-md mix-txt_primaryGrey">
              We are accountants and bookkeepers located in the heart of the Twin Cities.  We love getting to know our clients and their businesses and pride ourselves on giving our clients a personalized experience.  We constantly work to provide our clients with the best of current software in an effort to automate and streamline business and bookkeeping functions so you can concentrate on running your business.
            </p>
        </div>
        <p class="txt txt-md mix-txt_primaryGrey">
          We are number nerds!
        </p>

    </div>
</div>
