<div class="box box_medium mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">About us</h2>
        </div>
        <div class="vr_6x">
            <p class="txt txt-lg mix-txt_primaryGrey">
              We are a virtual bookkeeping and accounting business located in Minneapolis.  We utilize the best of current software to automate and streamline the bookkeeping functions of your business so you can concentrate on running your business.
            </p>
        </div>
    </div>
</div>
