<div class="box box_medium mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">Bookkeeping in the Cloud</h2>
        </div>
        <div class="vr_8x">
            <p class="txt txt-lg mix-txt_primaryGrey">
              Being an entrepreneur requires you to wear many different hats.
            </p>
        </div>
        <div class="vr_6x">
          <div class="media">
            <div class="media-img">
              <img src="assets/images/too-many-hats.jpg" alt="too many hats" height="325px" />
              <div class="txt txt-xsm mix-txt_primaryGrey mix-txt_italic">
                <a class="link-natural" href="https://www.dreamstime.com/royalty-free-stock-photo-too-many-hats-image3292365#res1197001">
                  &copy; Lisa F. Young
                </a>
              </div>
            </div>
            <div class="media-bd">
              <p class="txt txt-md txt-left">
                Paying bills, managing those bills, entering sales figures, balancing your bank accounts, payroll- all things the business owner needs to do.  These are also functions that take you away from the things you should do in your business.  Should you hire a bookkeeper?  We can help you through the maze of paperwork for less than the cost of an in-house bookkeeper.  And you have our experience and expertise working for you, helping you like we have hundreds of different businesses.  We have the knowledge and expertise to do it quicker and more accurately than you do- and more cost effectively.
              </p>
              <p class="txt txt-md txt-left txt-spacious">
                We work on a fixed fee basis so you always know your costs.  We have an unlimited consulting feature included so you won't be afraid to ask questions and get the answers you need to run your business.
              </p>
            </div>
          </div>
        </div>
        <div class="vr_6x">
          <div class="box">
            <p class="txt txt-md txt-left">
              Contact us today to see how we can help take the burden of bookkeeping from you!
              <br /><br />
              phone: 612-615-7795
              <br />
              email: <a class="link" href="mailto:info@quickassist.biz">info@quickassist.biz</a>
              <br />
              Or you can <a class="link" href="https://quickassist.youcanbook.me" alt="Book an appointment">Book an appointment</a>
            </p>
          </div>
        </div>
        <div class="vr_6x">
          <div class="box">
            <p class="txt txt-md txt-left mix-txt_italic">
              For a limited time, get a free conversion to Quickbooks online if you sign up for our services - a $150 value!
            </p>
          </div>
        </div>
    </div>
</div>
