
<div class="box box_medium box_narrow mix-box_255255255">
  <div class="txt txt-center">
    <div class="vr_8x">
        <h2 class="hdg hdg_1">Services</h2>
    </div>
    <div class="vr_8x">
      <div class="priceTable">
        <div class="priceTablePlan">
          <div class="priceTablePlan-head">
            <h3 class="hdg hdg_3">Established</h3>
            <div class="priceTablePlan-price">
              $1,200 monthly
            </div>
            <div class="priceTablePlan-description">
              You’re big and bold and ready for anything.  But you’re tired of reconciling, paying bills and taking hours trying to figure out cash flow.  We’ll manage your books, pay your bills & sort out your revenue.
            </div>
          </div>
          <ul class="priceTablePlan-featureList">
            <li class="priceTablePlan-featureList-item">Weekly Reconciliation</li>
            <li class="priceTablePlan-featureList-item">Weekly Financials</li>
            <li class="priceTablePlan-featureList-item">Unlimited Support<br /> (Phone &amp; Email)</li>
            <li class="priceTablePlan-featureList-item">Quickbooks or Xero Account</li>
            <li class="priceTablePlan-featureList-item">Document Collection &amp; Storage</li>
            <li class="priceTablePlan-featureList-item">Slack Communication Channel</li>
            <li class="priceTablePlan-featureList-item">Electronic Bill Entry</li>
            <li class="priceTablePlan-featureList-item">Electronic Bill Pay</li>
          </ul>
          <h4 class="hdg hdg_4">Addon Services</h4>
          <ul class="priceTablePlan-featureList">
            <li class="priceTablePlan-featureList-item">Payroll</li>
            <li class="priceTablePlan-featureList-item">Invoicing</li>
            <li class="priceTablePlan-featureList-item">24hr Turnaround</li>
          </ul>
        </div>
        <div class="priceTablePlan priceTablePlan-mostPopular">
          <div class="priceTablePlan-head">
            <h3 class="hdg hdg_3">Growth</h3>
            <div class="priceTablePlan-price">
              $600 monthly
            </div>
            <div class="priceTablePlan-description">
              You’re ready to grow and need to delegate tasks to others.  Let us help you keep track of the finances so you can run the business.
            </div>
          </div>
          <ul class="priceTablePlan-featureList">
            <li class="priceTablePlan-featureList-item">Monthly Reconciliation</li>
            <li class="priceTablePlan-featureList-item">Monthly Financials</li>
            <li class="priceTablePlan-featureList-item">Unlimited Support<br /> (Phone &amp; Email)</li>
            <li class="priceTablePlan-featureList-item">Quickbooks or Xero Account</li>
            <li class="priceTablePlan-featureList-item">Document Collection &amp; Storage</li>
            <li class="priceTablePlan-featureList-item">Slack Communication Channel</li>
            <li class="priceTablePlan-featureList-item">Electronic Bill Entry</li>
          </ul>
          <h4 class="hdg hdg_4">Addon Services</h4>
          <ul class="priceTablePlan-featureList">
            <li class="priceTablePlan-featureList-item">Payroll</li>
            <li class="priceTablePlan-featureList-item">Invoicing</li>
          </ul>
        </div>
        <div class="priceTablePlan">
          <div class="priceTablePlan-head">
            <h3 class="hdg hdg_3">Start-up</h3>
            <div class="priceTablePlan-price">
              $250 monthly
            </div>
            <div class="priceTablePlan-description">
              You’re opening soon or have already opened and need a little help with the numbers.
            </div>
          </div>
          <ul class="priceTablePlan-featureList">
            <li class="priceTablePlan-featureList-item">Quarterly Reconciliation</li>
            <li class="priceTablePlan-featureList-item">Quarterly Financials</li>
            <li class="priceTablePlan-featureList-item">Unlimited Support<br /> (Phone &amp; Email)</li>
            <li class="priceTablePlan-featureList-item">Quickbooks or Xero Account</li>
          </ul>
          <h4 class="hdg hdg_4">Addon Services</h4>
          <ul class="priceTablePlan-featureList">
            <li class="priceTablePlan-featureList-item">Payroll</li>
          </ul>
        </div>
      </div>
    </div>

    <%= render 'static_pages/get_started_survey' %>
</div>
