<div class="box box_medium mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">We're Hiring</h2>
        </div>
        <div class="vr_6x">
            <p class="txt txt-lg mix-txt_primaryGrey">
              We are always on the lookout for qualified CPAs and Bookkeepers who aren't afraid of learning new things and working on a variety of projects.  The ability to work in a variety of software programs and adapt to new processes and methods.
            </p>
        </div>
    </div>
</div>
