<div class="box box_medium box_narrow mix-box_255255255">
    <div class="txt txt-md txt-center">
        <div class="vr_6x">
            <h2 class="hdg hdg_1">We're Hiring</h2>
        </div>
        <div class="vr_6x">
            <p class="mix-txt_primaryGrey">
              We are always on the lookoout for qualified bookkeepers and CPAs who aren't afraid of learning new things and working on a variety of projects.  The ability to work in a variety of software programs and adapt to new processes and methods is a plus!  A fun and energetic personality would fit well with our current crew!.
            </p>
        </div>
    </div>
</div>
