<div class="section">
    <div class="section_media">
        <div class="section_media-img">
            <img class="logo_cta" src="http://www.fillmurray.com/600/600" alt="logo" />
        </div>
        <div class="section_media-bd">
            <div class="vr_4x">
                <h2 class="hdg hdg_1">QuickAssist</h2>
                <h3 class="hdg hdg_2">Bookkeeping & Payroll</h3>
            </div>

            <ul class="hlist">
              <li><a class="btn" href="#">Getting Started</a></li>
              <li><a class="btn" href="#">Why Online</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="section">
    <ol class="blocks blocks_3up">
        <li>
            <div style="background: #888;">
              <h3 class="hdg">Price level one</h3>
              <h4 class="hdg">prie level sub-heading</h4>
              <ol class="vlist mix-vlist_divided">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
              </ol>
            </div>
        </li>
        <li>
            <div style="background: #eee;">
                <h3 class="hdg">Price level two</h3>
                <h4 class="hdg">prie level sub-heading</h4>
                <ol class="vlist mix-vlist_divided">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                </ol>
            </div>
        </li>
        <li>
            <div style="background: #888;">
                <h3 class="hdg">Price level three</h3>
                <h4 class="hdg">prie level sub-heading</h4>
                <ol class="vlist mix-vlist_divided">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                </ol>
            </div>
        </li>
    </ol>
</div>


