<div>
    <div>{ LOGO }</div>
    <h2 class="hdg hdg_1">QuickAssist</h2>
    <h3 class="hdg hdg_2">Bookkeeping & Payroll</h3>

    <ul class="hlist">
      <li><a class="btn" href="#">Getting Started</a></li>
      <li><a class="btn" href="#">Why Online</a></li>
    </ul>
</div>


