<div class="box box_large mix-box_jumbotron">
    <div class="section_media">
        <div class="section_media-img u-isHiddenSM">
            <img class="logo_cta" src="/assets/images/qa-logo-q.png" alt="logo" />
        </div>
        <div class="section_media-content">
            <div class="feature">
                <div class="feature-hd">
                  <h1>
                    <img src="/assets/images/qa-logo-script-white.png" alt="Qucik Assist" />
                  </h1>
                </div>
                <div class="feature-ft">
                  <h2 class="hdg hdg-tagline">
                    Innovative Bookkeeping Solutions
                  </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box_large mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">Bookkeeping in the cloud</h2>
        </div>
        <div class="vr_8x">
            <div class="vr_2x">
                <p class="txt txt-lg mix-txt_primaryGrey">
                    We use cutting edge technologies to simplify and give clarity
                    to the books and records of a business.
                </p>
            </div>

            <p class="txt txt-md">
                Using programs like <a class="link" href="http://proadvisor.intuit.com/quickbooks-help/david-j-geslin-2" target="_blank">Quickbooks</a>,
                <a class="link" href="https://www.entryless.com/" target="_blank">Entryless</a>,
                <a class="link" href="http://hubdoc.com/" target="_blank">Hubdoc</a>
                and many others we help entrepreneurs manage their business through innovative technology.
                <a class="link" href="http://proadvisor.intuit.com/quickbooks-help/david-j-geslin-2" target="_blank">Contact us</a>
                today to see how we can help your business!
            </p>
        </div>
        <div class="box">
            <ul class="hlist hlist_loose">
            <li>
                <a href="http://proadvisor.intuit.com/quickbooks-help/david-j-geslin-2" target="_blank">
                    <img class="image image-constrained" src="/assets/images/quickbooks-online_logo_400-140.png" alt="Quickbooks Online" />
                </a>
            </li>
            <li>
                <a href="http://proadvisor.intuit.com/quickbooks-help/david-j-geslin-2" target="_blank">
                    <img class="image image-constrained" src="/assets/images/certification-quickbooks-icon.png" alt="Intuit Certified ProAdvisor" />
                </a>
            </li>
        </ul>
        </div>
    </div>
</div>

