<div class="box box_large">
    <div class="section_media">
        <div class="section_media-img">
            <img class="logo_cta" src="http://www.fillmurray.com/600/600" alt="logo" />
        </div>
        <div class="section_media-bd">
            <div class="vr_4x">
                <h2 class="hdg hdg_1 mix-hdg_secondarySerif">QuickAssist</h2>
                <h3 class="hdg hdg_3">Bookkeeping & Payroll</h3>
            </div>

            <ul class="hlist">
              <li><a class="btn" href="#">Getting Started</a></li>
              <li><a class="btn" href="#">Why Online</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="box box_large mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_6x">
            <h2 class="hdg hdg_1">Heading</h2>
        </div>
        <p>
            Messenger bag biodiesel listicle, street art brunch cray direct trade kinfolk flannel pop-up sriracha vinyl. Normcore kitsch enim keffiyeh tempor, gochujang schlitz migas microdosing flexitarian sriracha aute church-key hella. Yuccie meditation sustainable, deep v vegan enim pug iPhone do chillwave heirloom.
        </p>
    </div>
</div>

<div class="box box_large">
    <%= render 'static_pages/priceLevels' %>
</div>

<div class="box box_large mix-box_255255255">
    <div class="txt txt-center">
        <div class="vr_8x">
            <h2 class="hdg hdg_1">Meet the Team</h2>
        </div>
        <ul class="blocks blocks_3up">
            <li>
                <a href="#">
                  <img src="http://fillmurray.com/g/200/200" alt="Team Member"/>
                  {fname} {lname}
                </a>
            </li>
            <li>
                <a href="#">
                  <img src="http://fillmurray.com/g/200/200" alt="Team Member"/>
                  {fname} {lname}
                </a>
            </li>
            <li>
                <a href="#">
                  <img src="http://fillmurray.com/g/200/200" alt="Team Member"/>
                  {fname} {lname}
                </a>
            </li>
            <li>
                <a href="#">
                  <img src="http://fillmurray.com/g/200/200" alt="Team Member"/>
                  {fname} {lname}
                </a>
            </li>
            <li>
                <a href="#">
                  <img src="http://fillmurray.com/g/200/200" alt="Team Member"/>
                  {fname} {lname}
                </a>
            </li>
        </ul>
    </div>
</div>
