// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------
$BASE_FONT_SIZE: 18px;

// ------------------------------------------------------------------------
// Font stack
// ------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Junge|Lato:400,700);

$FONT: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$FONT_SERIF: 'Goudy Bookletter 1911', Georgia, serif;
$FONT_SERIF_SECONDARY: 'Junge', Georgia, serif;

