// ---------------------------------------------------------------------
// Box
// ---------------------------------------------------------------------
$BASE_PADDING: 20px;

.box { padding: $BASE_PADDING; }
.box_small { padding: $BASE_PADDING; }
.box_medium { padding: $BASE_PADDING; }
.box_large { padding: $BASE_PADDING; }
