// ---------------------------------------------------------------------
// Box
// ---------------------------------------------------------------------
.box {
    padding-left: $BASE_PADDING * 2;
    padding-right: $BASE_PADDING * 2;
}

.box_small {
    padding-top: $PADDING_TINY;
    padding-bottom: $PADDING_TINY;
}

.box_medium {
    padding-top: $PADDING_MED;
    padding-bottom: $PADDING_MED;
}

.box_large {
    padding-top: $PADDING_XL;
    padding-bottom: $PADDING_XL;
}

.mix-box_jumbotron {
    background: transparent url("/assets/images/black-and-white-city-houses-skyline.jpg") 50% 80% no-repeat;
    background-size: cover;
}

.mix-box_163202198 {
    background: rgba(163, 202, 198, 1);
}

.mix-box_255255255 {
    background-color: rgba(255, 255, 255, 1);
}

.mix-box_258392 {
    background: rgba(25, 83, 92, 1);
}

.mix-box_126209242 {
    background: rgba(126, 209, 242, 1);
}

.mix-box_191187157 {
    background: rgba(191, 187, 157, 1);
}

.mix-box_645852 {
    background: rgba(64, 58, 52, 1);
}
