// ---------------------------------------------------------------------
// Media Object
// ---------------------------------------------------------------------
.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin-right: 20px;
}

.media-bd {
    padding-left: 100px;
    overflow: hidden;
    // SHAME!
    line-height: 2em;
}
