// ---------------------------------------------------------------------
// Main Navigation
// ---------------------------------------------------------------------
.mainNav {
    @include transition(.12s);
}

.mainNav-item {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainNav-item > a,
.mainNav-item > a:visited,
.subMenu-item > a,
.subMenu-item > a:visited {
    color: #000000;

    &:hover {
        color: $COLOR_PRIMARY;
    }
}

.mainNav-item + .mainNav-item {
    margin-left: 20px;
    padding-left: 20px;
}

.mainNav-item_subMenu {

    @media only screen and (min-width: $SCREEN_WIDTH_SM + 1px) {
        position: absolute;
        left: -99999px;
        // padding: 10px;
        @include box-shadow(0, 4px, 8px, -3px, #666666);
    }
}

.subMenu-item {
    padding: 10px 30px 10px 10px;
}

.subMenu-item + .subMenu-item {
    margin-top: 5px;
}

.mainNav-item:hover > .mainNav-item_subMenu {

    @media only screen and (min-width: $SCREEN_WIDTH_SM + 1px) {
        left: -5px;
        padding-top: 10px;
        background: #ffffff;
    }
}


