// ---------------------------------------------------------------------
// Main Navigation - Mobile
// ---------------------------------------------------------------------
.mainNav-mobile {
    display: table;
    width: 100%;
    padding-right: $BASE_PADDING;
    padding-left: $BASE_PADDING;
}

.mainNav-mobile-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.mainNav-mobile-item + .mainNav-mobile-item {
    text-align: right;
    padding-left: 50px;
}
