// ---------------------------------------------------------------------
// Main Navigation - Small
// ---------------------------------------------------------------------
@import '_mobileTrigger';
@import '_mainNavMobile';

.mainNav {
    position: relative;
    top: 0;
    margin-top: $BASE_MARGIN * 2;
    margin-bottom: -10px;
    background: #efefef;

    // @include transition(all 0.12s ease);
}

.mainNav-item {
    display: block;
    padding-top: $BASE_PADDING * 2;
    padding-bottom: $BASE_PADDING * 2;
}

.mainNav-item + .mainNav-item {
    margin-left: 0;
    padding-left: 0;
}

.mainNav-item_subMenu {
    position: relative;
    display: block;
    box-shadow: none;
}

.subMenu-item {
    padding: 0;
}

.mix-mainNav_isHidden {
    position: absolute;
    top: -99999px;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 0;
}
