// ---------------------------------------------------------------------
// Main Navigation - Small
// ---------------------------------------------------------------------
@import '_mobileTrigger';
@import '_mainNavMobile';

.mainNav {
    margin-top: $BASE_MARGIN * 2;
    border-top: 2px solid $COLOR_MID_GREY;
    // box-shadow: inset 0px 20px 32px -20px rgba(0, 0, 0, 0.2);
}

.mainNav-item {
    display: block;
    padding-top: $BASE_PADDING * 2;
    padding-bottom: $BASE_PADDING * 2;
}

.mainNav-item + .mainNav-item {
    margin-left: 0;
    padding-left: 0;
}

.mainNav-item_subMenu {
    position: relative;
    display: block;
    // background: #f6f6f6;
    box-shadow: none;
}

.subMenu-item {
    padding: 0;
}

// .subMenu-item + .subMenu-item {}
// .mainNav-item:hover > .mainNav-item_subMenu {}
