// ---------------------------------------------------------------------
// Price Table
// ---------------------------------------------------------------------
.priceTable {
    @include clearfix;

    width: 892px;
    margin: 100px auto;
    text-align: center;
}

.priceTablePlan {
    width: 296px;
    height: 900px;
    float: left;
    text-shadow: 0 1px rgba(255,255,255,.8);
    background: #ffffff;
    color: #333333;
}

.priceTablePlan-mostPopular {
    margin-top: -33px;
    padding-top: 30px;
    border: 3px solid;
    border-radius: 9px;
    z-index: 2;
}

.priceTablePlan-head {
    height: 270px;
    padding: 20px;
    background-color: #ffffff;
    background-image: -moz-linear-gradient(#eeeeee, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
    background-image: -webkit-linear-gradient(#eeeeee, #ffffff);
    background-image: -o-linear-gradient(#eeeeee, #ffffff);
    background-image: -ms-linear-gradient(#eeeeee, #ffffff);
    background-image: linear-gradient(#eeeeee, #ffffff);
}

.priceTablePlan-mostPopular > .priceTablePlan-head {
    background: none;
}

.priceTablePlan-price {
    padding: 10px 0;
    font-weight: 600;
}

.priceTablePlan-description {
    padding: 15px 0;
    font-size: 16px;
    font-style: italic;
    line-height: 1.3;
}

.priceTablePlan-featureList {
    padding: 15px;

}
.priceTablePlan-featureList:first-of-type {
    height: 370px;
    margin-bottom: 30px;
}

.priceTablePlan-featureList-item {
    padding: 10px;
    font-size: 16px;
}

.priceTablePlan-featureList-item + .priceTablePlan-featureList-item {
    border-top: 1px solid #dddddd;
}
