// ------------------------------------------------------------------------
// Page
// ------------------------------------------------------------------------
.page {
  background-color: $COLOR_WHITE;
  font-size: $BASE_FONT_SIZE;
  font-family: $FONT;
  letter-spacing: 1px;
  line-height: 1.2;
}

.page-hd {
    background: #ffffff;
    text-align: center;
}

.page-bd {}

.page-ft {
    // position: fixed;
    // right: 0;
    // bottom: 0;
    // left: 0;
    background-color: #666;
}

.mix-page-hd_bordered {
    border-bottom: 1px solid #cccccc;
}
