// ------------------------------------------------------------------------
// Page
// ------------------------------------------------------------------------
.page {
  background-color: $COLOR_WHITE;
  font-size: $BASE_FONT_SIZE;
  font-family: $FONT;
  letter-spacing: 1px;
  line-height: 1.2;
}

.page-hd {
    background: #ffffff;
    text-align: center;
}

.page-bd {}

.page-ft {
    background-color: #666;
}

.mix-page-hd_static {
    padding-top: $PADDING_TINY;
    padding-bottom: $PADDING_TINY;
}

.mix-page-hd_sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: $BASE_PADDING;
    padding-bottom: $BASE_PADDING;
    border-bottom: 1px solid #cccccc;

    @include box-shadow(0, -4px, 20px, -2px, #222222);
}

// the sticky mixin is applied via javascript and, once applied, causes the element its applied to to
// have a fixed position.
//
// Thus, this rule is needed to prevent a jarring scroll jump once the sticky mixin is applied/removed
// Inline media-queries are necessary due to precentage based paddings
.mix-page-hd_sticky + .page-bd {

    @media only screen and (max-width: $SCREEN_WIDTH_MD) and (min-width: 0) {
        padding-top: $PADDING_XL;
    }

    @media only screen and (min-width: $SCREEN_WIDTH_MD + 1px) {
        padding-top: $PADDING_LRG;
    }
}

