// ---------------------------------------------------------------------
// Logo
// ---------------------------------------------------------------------
.logo {}

.logo_cta {
    width: 100%;
    min-width: 75px;
    max-width: 250px;
}
