// ---------------------------------------------------------------------
// Feature
// ---------------------------------------------------------------------
.feature {}

.feature-hd {
    max-width: 500px;
    padding-bottom: $PADDING_TINY;
}

.feature-bd {
    padding-bottom: $PADDING_TINY;
}

.feature-ft {}
