// ---------------------------------------------------------------------
// Feature - Medium
// ---------------------------------------------------------------------
.feature {}

.feature-hd {
    padding-bottom: $PADDING_TINY;
}

.feature-bd {
    padding-bottom: $PADDING_TINY;
}

.feature-ft {}

.feature-ft > * + * {
    margin-top: $PADDING_TINY;
}
