/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar, even when there is no scrolling */ }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Colors */
/* Misc Colors */
.u-isHidden {
  display: none !important; }

.u-isVisuallyHidden {
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  left: -9999px;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.u-isTruncated {
  white-space: nowrap;
  text-overflow: ellipsis; }

.u-breakWord {
  word-break: break-word; }

@media screen and (max-width: 767px) {
  .u-isNotScrollable {
    overflow: hidden; } }

@media screen and (min-width: 768px) {
  .u-isHiddenMD {
    display: none !important; } }

@media screen and (max-width: 767px) {
  .u-isHiddenSM {
    display: none !important; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a,
a:visited {
  text-decoration: none; }

img {
  max-width: 100%; }

@media only screen and (min-width: 768px) {
  .page {
    background-color: #fefffd;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2; }
  .page-ft {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #666; }
  .alert {
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    color: #246;
    background-color: #e2eef9;
    border: 1px solid #bac6d3;
    border-radius: 3px; }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .alert-caution {
    color: #4c4a42;
    background-color: #fff9ea;
    border-color: #dfd8c2; }
  .alert-error {
    color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2; }
  .blocks {
    margin: -20px 0 0 -20px;
    font-size: 0; }
  .blocks > * {
    display: inline-block;
    padding: 20px 0 0 20px;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box; }
  .blocks_2up > * {
    width: 50%; }
  .blocks_3up > * {
    width: 33.3334%; }
  .blocks_4up > * {
    width: 25%; }
  .box {
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #3071a9; }
  .box-hd {
    margin-bottom: 20px; }
  .btnAsLink {
    border: 0;
    background: transparent;
    font: inherit;
    color: #0066cc;
    cursor: pointer; }
  .btnAsLink:hover {
    color: #2d9fe9;
    text-decoration: underline; }
  .btn {
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    border: 0;
    background: green;
    color: #eeeeee;
    /* fallback for non rgba browsers */
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: normal;
    /* set to normal to .btn can be usd on inputs in firefox with consistency */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.12s ease-in-out; }
  .btn:hover {
    background: rgba(0, 100, 0, 0.7); }
  .btn-sm {
    padding: 4px 12px;
    font-size: 14px; }
  .btn_disabled {
    color: #666666;
    /* fallback for non rgba browsers */
    color: rgba(0, 0, 0, 0.3);
    background: #cccccc !important;
    /* override hovers - disabled buttons don't have hover states */ }
  .btn_block {
    display: block;
    width: 100%;
    text-align: center; }
  .mix-btn_alert {
    background: #d53b3b; }
  .mix-btn_alert:hover {
    background: #b81818; }
  .excerpt-bd {
    padding: 10px 0 20px 0; }
  .excerpt-bd > * + * {
    margin-top: 20px; }
  /* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
  .grid:before,
  .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }
  .grid-col {
    float: left; }
  .grid-col-pull {
    float: right; } }

@media only screen and (min-width: 768px) and (min-width: 0px) {
  .grid-col-sm_1of6 {
    width: 16.66667%; }
  .mix-grid-col-sm_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-sm_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-sm_2of6 {
    width: 33.33333%; }
  .mix-grid-col-sm_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-sm_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-sm_3of6 {
    width: 50%; }
  .mix-grid-col-sm_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-sm_pull3of6 {
    margin-right: 50%; }
  .grid-col-sm_4of6 {
    width: 66.66667%; }
  .mix-grid-col-sm_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-sm_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-sm_5of6 {
    width: 83.33333%; }
  .mix-grid-col-sm_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-sm_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-sm_6of6 {
    width: 100%; }
  .mix-grid-col-sm_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-sm_pull6of6 {
    margin-right: 100%; } }

@media only screen and (min-width: 768px) and (min-width: 767px) {
  .grid-col-md_1of6 {
    width: 16.66667%; }
  .mix-grid-col-md_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-md_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-md_2of6 {
    width: 33.33333%; }
  .mix-grid-col-md_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-md_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-md_3of6 {
    width: 50%; }
  .mix-grid-col-md_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-md_pull3of6 {
    margin-right: 50%; }
  .grid-col-md_4of6 {
    width: 66.66667%; }
  .mix-grid-col-md_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-md_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-md_5of6 {
    width: 83.33333%; }
  .mix-grid-col-md_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-md_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-md_6of6 {
    width: 100%; }
  .mix-grid-col-md_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-md_pull6of6 {
    margin-right: 100%; } }

@media only screen and (min-width: 768px) and (min-width: 1027px) {
  .grid-col-lg_1of6 {
    width: 16.66667%; }
  .mix-grid-col-lg_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-lg_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-lg_2of6 {
    width: 33.33333%; }
  .mix-grid-col-lg_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-lg_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-lg_3of6 {
    width: 50%; }
  .mix-grid-col-lg_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-lg_pull3of6 {
    margin-right: 50%; }
  .grid-col-lg_4of6 {
    width: 66.66667%; }
  .mix-grid-col-lg_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-lg_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-lg_5of6 {
    width: 83.33333%; }
  .mix-grid-col-lg_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-lg_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-lg_6of6 {
    width: 100%; }
  .mix-grid-col-lg_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-lg_pull6of6 {
    margin-right: 100%; } }

@media only screen and (min-width: 768px) {
  .hdg {
    font-family: "Georgia" serif;
    font-weight: normal;
    line-height: 1.2; }
  .hdg > a:hover {
    text-decoration: none; }
  .hdg_1 {
    font-size: 26px; }
  .hdg_2 {
    font-size: 22px; }
  .hdg_3 {
    font-size: 20px;
    font-weight: 500; }
  .hdg_4 {
    font-size: 16px; }
  .hdg_5 {
    font-size: 12px; }
  .mix-hdg_sans {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .mix-hdg_caps {
    text-transform: uppercase; }
  .mix-hdg_blue {
    color: #0066cc; }
  .hlist > * {
    display: inline-block; }
  .hlist > * + * {
    margin-left: 5px; }
  .hlist_loose > * + * {
    margin-left: 15px; }
  .mix-hlist_divided > * + * {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid; }
  .input {
    width: 100%;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #222222;
    border-radius: 2px;
    font-size: 16px; }
  .input-sm {
    padding-top: 8px;
    padding-bottom: 8px; }
  .input-md {
    padding-top: 12px;
    padding-bottom: 12px; }
  .input-lg {
    padding-top: 18px;
    padding-bottom: 18px; }
  .input-textarea {
    height: 160px;
    resize: none; }
  .mix-input_block {
    display: block;
    width: 95%; }
  .link,
  .link:visited {
    color: #0066cc; }
  .link:hover {
    color: #2d9fe9;
    text-decoration: underline;
    transition: all 0.12s ease-in-out; }
  .media {
    overflow: hidden; }
  .media-img {
    float: left;
    margin-right: 20px; }
  .media-bd {
    overflow: hidden; }
  .preview-hd {
    margin-bottom: 2px; }
  .preview-subhd {
    margin-bottom: 12px; }
  .txt-sm {
    font-size: 14px; }
  .txt-md {
    font-size: 16px; }
  .txt-left {
    text-align: left; }
  .txt-center {
    text-align: center; }
  .txt-right {
    text-align: right; }
  .mix-txt_light {
    color: #999999; }
  .mix-txt_italic {
    font-style: italic; }
  .vlist > * {
    padding: 10px 0; }
  .mix-vlist_spacious > * + * {
    padding: 20px 0; }
  .mix-vlist_divided > * + * {
    border-top: 2px solid #bebebe; }
  /* ---------------------------------------------------------------------
 Vertical Rhythm

 An abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
  .vr {
    margin-bottom: 4px; }
  .vr_x2 {
    margin-bottom: 8px; }
  .vr_x4 {
    margin-bottom: 16px; }
  .vr_x6 {
    margin-bottom: 24px; }
  .well {
    background: #efefef; }
  .wrapper {
    padding: 20px; } }

@media only screen and (max-width: 767px) and (min-width: 0) {
  .page {
    background-color: #fefffd;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2; }
  .page-ft {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #666; }
  .alert {
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    color: #246;
    background-color: #e2eef9;
    border: 1px solid #bac6d3;
    border-radius: 3px; }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .alert-caution {
    color: #4c4a42;
    background-color: #fff9ea;
    border-color: #dfd8c2; }
  .alert-error {
    color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2; }
  .blocks {
    margin: -20px 0 0 -20px;
    font-size: 0; }
  .blocks > * {
    display: inline-block;
    padding: 20px 0 0 20px;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box; }
  .blocks_2up > * {
    width: 50%; }
  .blocks_3up > * {
    width: 33.3334%; }
  .blocks_4up > * {
    width: 25%; }
  .box {
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #3071a9; }
  .box-hd {
    margin-bottom: 20px; }
  .btnAsLink {
    border: 0;
    background: transparent;
    font: inherit;
    color: #0066cc;
    cursor: pointer; }
  .btnAsLink:hover {
    color: #2d9fe9;
    text-decoration: underline; }
  .btn {
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    border: 0;
    background: green;
    color: #eeeeee;
    /* fallback for non rgba browsers */
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: normal;
    /* set to normal to .btn can be usd on inputs in firefox with consistency */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.12s ease-in-out; }
  .btn:hover {
    background: rgba(0, 100, 0, 0.7); }
  .btn-sm {
    padding: 4px 12px;
    font-size: 14px; }
  .btn_disabled {
    color: #666666;
    /* fallback for non rgba browsers */
    color: rgba(0, 0, 0, 0.3);
    background: #cccccc !important;
    /* override hovers - disabled buttons don't have hover states */ }
  .btn_block {
    display: block;
    width: 100%;
    text-align: center; }
  .mix-btn_alert {
    background: #d53b3b; }
  .mix-btn_alert:hover {
    background: #b81818; }
  .excerpt-bd {
    padding: 10px 0 20px 0; }
  .excerpt-bd > * + * {
    margin-top: 20px; }
  /* ---------------------------------------------------------------------
 Feature
------------------------------------------------------------------------ */
  .grid:before,
  .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }
  .grid-col {
    float: left; }
  .grid-col-pull {
    float: right; } }

@media only screen and (max-width: 767px) and (min-width: 0) and (min-width: 0px) {
  .grid-col-sm_1of6 {
    width: 16.66667%; }
  .mix-grid-col-sm_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-sm_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-sm_2of6 {
    width: 33.33333%; }
  .mix-grid-col-sm_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-sm_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-sm_3of6 {
    width: 50%; }
  .mix-grid-col-sm_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-sm_pull3of6 {
    margin-right: 50%; }
  .grid-col-sm_4of6 {
    width: 66.66667%; }
  .mix-grid-col-sm_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-sm_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-sm_5of6 {
    width: 83.33333%; }
  .mix-grid-col-sm_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-sm_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-sm_6of6 {
    width: 100%; }
  .mix-grid-col-sm_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-sm_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 767px) and (min-width: 0) and (min-width: 767px) {
  .grid-col-md_1of6 {
    width: 16.66667%; }
  .mix-grid-col-md_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-md_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-md_2of6 {
    width: 33.33333%; }
  .mix-grid-col-md_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-md_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-md_3of6 {
    width: 50%; }
  .mix-grid-col-md_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-md_pull3of6 {
    margin-right: 50%; }
  .grid-col-md_4of6 {
    width: 66.66667%; }
  .mix-grid-col-md_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-md_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-md_5of6 {
    width: 83.33333%; }
  .mix-grid-col-md_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-md_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-md_6of6 {
    width: 100%; }
  .mix-grid-col-md_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-md_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 767px) and (min-width: 0) and (min-width: 1027px) {
  .grid-col-lg_1of6 {
    width: 16.66667%; }
  .mix-grid-col-lg_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-lg_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-lg_2of6 {
    width: 33.33333%; }
  .mix-grid-col-lg_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-lg_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-lg_3of6 {
    width: 50%; }
  .mix-grid-col-lg_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-lg_pull3of6 {
    margin-right: 50%; }
  .grid-col-lg_4of6 {
    width: 66.66667%; }
  .mix-grid-col-lg_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-lg_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-lg_5of6 {
    width: 83.33333%; }
  .mix-grid-col-lg_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-lg_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-lg_6of6 {
    width: 100%; }
  .mix-grid-col-lg_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-lg_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 767px) and (min-width: 0) {
  .hdg {
    font-family: "Georgia" serif;
    font-weight: normal;
    line-height: 1.2; }
  .hdg > a:hover {
    text-decoration: none; }
  .hdg_1 {
    font-size: 26px; }
  .hdg_2 {
    font-size: 22px; }
  .hdg_3 {
    font-size: 20px;
    font-weight: 500; }
  .hdg_4 {
    font-size: 16px; }
  .hdg_5 {
    font-size: 12px; }
  .mix-hdg_sans {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .mix-hdg_caps {
    text-transform: uppercase; }
  .mix-hdg_blue {
    color: #0066cc; }
  .hlist > * {
    display: inline-block; }
  .hlist > * + * {
    margin-left: 5px; }
  .hlist_loose > * + * {
    margin-left: 15px; }
  .mix-hlist_divided > * + * {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid; }
  .input {
    width: 100%;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #222222;
    border-radius: 2px;
    font-size: 16px; }
  .input-sm {
    padding-top: 8px;
    padding-bottom: 8px; }
  .input-md {
    padding-top: 12px;
    padding-bottom: 12px; }
  .input-lg {
    padding-top: 18px;
    padding-bottom: 18px; }
  .input-textarea {
    height: 160px;
    resize: none; }
  .mix-input_block {
    display: block;
    width: 95%; }
  .link,
  .link:visited {
    color: #0066cc; }
  .link:hover {
    color: #2d9fe9;
    text-decoration: underline;
    transition: all 0.12s ease-in-out; }
  .media {
    overflow: hidden; }
  .media-img {
    float: left;
    margin-right: 20px; }
  .media-bd {
    overflow: hidden; }
  .preview-hd {
    margin-bottom: 2px; }
  .preview-subhd {
    margin-bottom: 12px; }
  .txt-sm {
    font-size: 14px; }
  .txt-md {
    font-size: 16px; }
  .txt-left {
    text-align: left; }
  .txt-center {
    text-align: center; }
  .txt-right {
    text-align: right; }
  .mix-txt_light {
    color: #999999; }
  .mix-txt_italic {
    font-style: italic; }
  .vlist > * {
    padding: 10px 0; }
  .mix-vlist_spacious > * + * {
    padding: 20px 0; }
  .mix-vlist_divided > * + * {
    border-top: 2px solid #bebebe; }
  /* ---------------------------------------------------------------------
 Vertical Rhythm

 An abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
  .vr {
    margin-bottom: 4px; }
  .vr_x2 {
    margin-bottom: 8px; }
  .vr_x4 {
    margin-bottom: 16px; }
  .vr_x6 {
    margin-bottom: 24px; }
  .well {
    background: #efefef; }
  .wrapper {
    padding: 20px; }
  .input {
    width: 100%;
    max-width: 100%;
    font-size: 14px; }
  .wrapper {
    padding: 10px; } }
