/* ---------------------------------------------------------------------
 Modern Styles
------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Junge|Lato:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline: 0; }

html {
  overflow-y: scroll;
  /* Always show a vertical scrollbar, even when there is no scrolling */ }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

.u-isHidden {
  display: none !important; }

.u-isVisuallyHidden {
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  left: -9999px;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.u-isTruncated {
  white-space: nowrap;
  text-overflow: ellipsis; }

.u-breakWord {
  word-break: break-word; }

@media screen and (max-width: 767px) {
  .u-isNotScrollable {
    overflow: hidden; } }

@media screen and (min-width: 329px) {
  .u-isHiddenMD {
    display: none !important; } }

@media screen and (max-width: 328px) {
  .u-isHiddenSM {
    display: none !important; } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a,
a:visited {
  text-decoration: none; }

img {
  max-width: 100%; }

@media only screen and (max-width: 328px) and (min-width: 0) {
  .page {
    background-color: #F2F2F2;
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2; }
  .page-hd {
    background: #ffffff;
    text-align: center; }
  .page-ft {
    border-top: 8px solid #aaa;
    background-color: #e0e0e0; }
  .mix-page-hd_static {
    padding-top: 2.34375%;
    padding-bottom: 2.34375%; }
  .mix-page-hd_sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 -4px 20px -2px #222222; } }

@media only screen and (max-width: 328px) and (min-width: 0) and (max-width: 767px) and (min-width: 0) {
  .mix-page-hd_sticky + .page-bd {
    padding-top: 17.1875%; } }

@media only screen and (max-width: 328px) and (min-width: 0) and (min-width: 768px) {
  .mix-page-hd_sticky + .page-bd {
    padding-top: 11.71875%; } }

@media only screen and (max-width: 328px) and (min-width: 0) {
  .alert {
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    color: #246;
    background-color: #e2eef9;
    border: 1px solid #bac6d3;
    border-radius: 3px; }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .alert-caution {
    color: #4c4a42;
    background-color: #fff9ea;
    border-color: #dfd8c2; }
  .alert-error {
    color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2; }
  .blocks {
    margin: -20px 0 0 -20px;
    font-size: 0; }
  .blocks > * {
    display: inline-block;
    padding: 20px 0 0 20px;
    vertical-align: top;
    font-size: 18px;
    box-sizing: border-box; }
  .blocks_2up > * {
    width: 49.9%; }
  .blocks_3up > * {
    width: 33%; }
  .blocks_4up > * {
    width: 24%; }
  .box {
    padding-left: 20px;
    padding-right: 20px; }
  .box_small {
    padding-top: 2.34375%;
    padding-bottom: 2.34375%; }
  .box_medium,
  .box_large {
    padding-top: 10.15625%;
    padding-bottom: 10.15625%; }
  .box_narrow {
    padding-left: 10.15625%;
    padding-right: 10.15625%; }
  .mix-box_jumbotron {
    background: transparent url("/assets/images/black-and-white-city-houses-skyline.png") 50% 80% no-repeat;
    background-size: cover; }
  .mix-box_no-top {
    padding-top: 0 !important; }
  .mix-box_divided {
    border-bottom: 13px solid #efefef; }
  .mix-box_163202198 {
    background: #a3cac6; }
  .mix-box_255255255 {
    background-color: white; }
  .mix-box_258392 {
    background: #19535c; }
  .mix-box_126209242 {
    background: #7ed1f2; }
  .mix-box_191187157 {
    background: #bfbb9d; }
  .mix-box_645852 {
    background: #403a34; }
  .btnAsLink {
    border: 0;
    background: transparent;
    font: inherit;
    color: #0066cc;
    cursor: pointer; }
  .btnAsLink:hover {
    color: #2d9fe9;
    text-decoration: underline; }
  .btn {
    display: inline-block;
    margin: 0;
    padding: 6px;
    border: 3px solid #0066cc;
    background: #0066cc;
    color: #eeeeee;
    /* fallback for non rgba browsers */
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: normal;
    /* set to normal to .btn can be usd on inputs in firefox with consistency */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s; }
  .btn:hover {
    color: #0066cc;
    background: #ffffff;
    border: 3px solid #0066cc; }
  .btn-sm {
    padding: 4px 12px;
    font-size: 16px; }
  .btn_disabled {
    color: #666666;
    /* fallback for non rgba browsers */
    color: rgba(0, 0, 0, 0.3);
    background: #cccccc !important;
    /* override hovers - disabled buttons don't have hover states */ }
  .btn_block {
    display: block;
    width: 100%;
    text-align: center; }
  .mix-btn_alert {
    background: #d53b3b; }
  .mix-btn_alert:hover {
    background: #b81818; }
  .excerpt-bd {
    padding: 10px 0 20px 0; }
  .excerpt-bd > * + * {
    margin-top: 20px; }
  .feature-hd {
    max-width: 500px; }
  .feature-bd {
    padding-bottom: 2.34375%; }
  .grid:before,
  .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }
  .grid-col {
    float: left; }
  .grid-col-pull {
    float: right; } }

@media only screen and (max-width: 328px) and (min-width: 0) and (min-width: 0px) {
  .grid-col-sm_1of6 {
    width: 16.66667%; }
  .mix-grid-col-sm_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-sm_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-sm_2of6 {
    width: 33.33333%; }
  .mix-grid-col-sm_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-sm_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-sm_3of6 {
    width: 50%; }
  .mix-grid-col-sm_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-sm_pull3of6 {
    margin-right: 50%; }
  .grid-col-sm_4of6 {
    width: 66.66667%; }
  .mix-grid-col-sm_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-sm_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-sm_5of6 {
    width: 83.33333%; }
  .mix-grid-col-sm_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-sm_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-sm_6of6 {
    width: 100%; }
  .mix-grid-col-sm_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-sm_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 328px) and (min-width: 0) and (min-width: 767px) {
  .grid-col-md_1of6 {
    width: 16.66667%; }
  .mix-grid-col-md_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-md_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-md_2of6 {
    width: 33.33333%; }
  .mix-grid-col-md_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-md_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-md_3of6 {
    width: 50%; }
  .mix-grid-col-md_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-md_pull3of6 {
    margin-right: 50%; }
  .grid-col-md_4of6 {
    width: 66.66667%; }
  .mix-grid-col-md_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-md_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-md_5of6 {
    width: 83.33333%; }
  .mix-grid-col-md_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-md_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-md_6of6 {
    width: 100%; }
  .mix-grid-col-md_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-md_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 328px) and (min-width: 0) and (min-width: 1027px) {
  .grid-col-lg_1of6 {
    width: 16.66667%; }
  .mix-grid-col-lg_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-lg_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-lg_2of6 {
    width: 33.33333%; }
  .mix-grid-col-lg_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-lg_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-lg_3of6 {
    width: 50%; }
  .mix-grid-col-lg_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-lg_pull3of6 {
    margin-right: 50%; }
  .grid-col-lg_4of6 {
    width: 66.66667%; }
  .mix-grid-col-lg_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-lg_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-lg_5of6 {
    width: 83.33333%; }
  .mix-grid-col-lg_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-lg_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-lg_6of6 {
    width: 100%; }
  .mix-grid-col-lg_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-lg_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 328px) and (min-width: 0) {
  .hdg {
    font-family: "Goudy Bookletter 1911", Georgia, serif;
    font-weight: normal;
    line-height: 1.2; }
  .hdg > a:hover {
    text-decoration: none; }
  .hdg_1 {
    font-size: 58px; }
  .hdg_2 {
    font-size: 40px; }
  .hdg_3 {
    font-size: 34px;
    font-weight: 500; }
  .hdg_4 {
    font-size: 30px; }
  .hdg_5 {
    font-size: 24px; }
  .hdg-tagline {
    font-size: 24px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4); }
  .mix-hdg_secondarySerif {
    font-family: "Junge", Georgia, serif; }
  .mix-hdg_sans {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .mix-hdg_caps {
    text-transform: uppercase; }
  .mix-hdg_accent {
    color: #7b0b14; }
  .mix-hdg_primaryGrey {
    color: #5a5b5d; }
  .mix-hdg_white {
    color: #ffffff; }
  .hlist > * {
    display: inline-block;
    vertical-align: middle; }
  .hlist > * + * {
    margin-left: 5px; }
  .hlist_loose > * + * {
    margin-left: 50px; }
  .mix-hlist_divided > * + * {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid; }
  .input {
    width: 100%;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #222222;
    border-radius: 2px;
    font-size: 18px; }
  .input-sm {
    padding-top: 8px;
    padding-bottom: 8px; }
  .input-md {
    padding-top: 12px;
    padding-bottom: 12px; }
  .input-lg {
    padding-top: 18px;
    padding-bottom: 18px; }
  .input-textarea {
    height: 160px;
    resize: none; }
  .mix-input_block {
    display: block;
    width: 95%; }
  .link,
  .link:visited {
    color: #0066cc; }
  .link:hover {
    color: #2d9fe9;
    text-decoration: underline;
    transition: all, 0.12s; }
  .link-natural {
    color: #5a5b5d; }
  .logo_cta {
    width: 100%;
    min-width: 75px;
    max-width: 250px; }
  .mainNav-mobile {
    display: table;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px; }
  .mainNav-mobile-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .mainNav-mobile-item + .mainNav-mobile-item {
    text-align: right;
    padding-left: 50px; }
  .mainNav-item {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px; }
  .mainNav-item > a,
  .mainNav-item > a:visited,
  .subMenu-item > a,
  .subMenu-item > a:visited {
    color: #000000; }
    .mainNav-item > a:hover,
    .mainNav-item > a:visited:hover,
    .subMenu-item > a:hover,
    .subMenu-item > a:visited:hover {
      color: #0066cc; }
  .mainNav-item + .mainNav-item {
    margin-left: 20px;
    padding-left: 20px; }
  .subMenu-item {
    padding: 10px 30px 10px 10px; }
  .subMenu-item + .subMenu-item {
    margin-top: 5px; } }

@media only screen and (max-width: 328px) and (min-width: 0) and (min-width: 329px) {
  .mainNav-item_subMenu {
    position: absolute;
    left: -99999px;
    box-shadow: 0 4px 8px -3px #666666; }
  .mainNav-item:hover > .mainNav-item_subMenu {
    left: -5px;
    padding-top: 10px;
    background: #ffffff; } }

@media only screen and (max-width: 328px) and (min-width: 0) {
  .media {
    overflow: hidden; }
  .media-img {
    float: left;
    margin-right: 20px; }
  .media-bd {
    padding-left: 100px;
    overflow: hidden;
    line-height: 2em; }
  .preview-hd {
    margin-bottom: 2px; }
  .preview-subhd {
    margin-bottom: 12px; }
  .priceLevel {
    font-size: 0; }
  .priceLevel > * {
    width: 33.33334%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    box-sizing: border-box; }
  .priceLevel-item {
    padding: 2.34375%; }
  .priceLevel-item-hd {
    padding-bottom: 23.4375%; }
  .section {
    padding-top: 30px;
    padding-bottom: 30px; }
  .section_media {
    display: table;
    width: 100%;
    padding: 30px 0; }
  .section_media-img {
    display: table-cell;
    padding-bottom: 2.34375%;
    text-align: center; }
  .section_media-content {
    display: table-cell;
    height: 100%;
    padding-left: 20px;
    vertical-align: middle; }
  .txt-xsm {
    font-size: 8px; }
  .txt-sm {
    font-size: 16px; }
  .txt-md {
    font-size: 22px; }
  .txt-lg {
    font-size: 28px; }
  .txt-left {
    text-align: left; }
  .txt-center {
    text-align: center; }
  .txt-right {
    text-align: right; }
  .txt-spacious {
    padding-top: 20px; }
  .mix-color_primary {
    color: #0066cc; }
  .mix-txt_primaryGrey {
    color: #5a5b5d; }
  .mix-txt_light {
    color: #999999; }
  .mix-txt_italic {
    font-style: italic; }
  .mix-txt_uppercase {
    text-transform: uppercase; }
  .vlist {
    margin-top: 10px; }
  .vlist > * {
    padding: 10px 0; }
  .mix-vlist_spacious > * + * {
    padding: 20px 0; }
  .mix-vlist_divided > * + * {
    border-top: 2px solid #bebebe; }
  .mix-vlist_unordered > * {
    margin-left: 20px;
    list-style: square; }
  /* ---------------------------------------------------------------------
 Vertical Rhythm

 An abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
  .vr {
    margin-bottom: 8px; }
  .vr_2x {
    margin-bottom: 16px; }
  .vr_4x {
    margin-bottom: 32px; }
  .vr_6x {
    margin-bottom: 48px; }
  .vr_8x {
    margin-bottom: 80px; }
  .well {
    background: #efefef; }
  .wrapper {
    padding: 20px; }
  .mix-page-hd_sticky + .page-bd {
    padding-top: 17.1875%; }
  .blocks {
    margin: 0; }
  .blocks > * {
    display: block;
    width: 100%; }
  .btn {
    font-size: 16px; }
  .feature-hd {
    margin: 0 auto;
    padding-bottom: 2.34375%;
    text-align: center; }
  .feature-bd {
    padding-bottom: 2.34375%; }
  .feature-ft > * + * {
    margin-top: 2.34375%; }
  .hdg_1 {
    font-size: 33px; }
  .hdg_2 {
    font-size: 29px; }
  .hdg_3 {
    font-size: 26px;
    font-weight: 500; }
  .hdg_4 {
    font-size: 24px; }
  .hdg_5 {
    font-size: 21px; }
  .hdg-tagline {
    font-size: 18px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2); }
  .image-constrained {
    max-height: 100px; }
  .priceLevel > * {
    display: block;
    width: 100%; }
  .priceLevel > * + * {
    margin-top: 10px; }
  .priceLevel-item {
    padding: 10px; }
  .priceLevel-item-hd {
    padding-bottom: 8.90625%; }
  .section {
    padding-top: 10px;
    padding-bottom: 10px; }
  .section_media {
    display: block; }
  .section_media-img {
    display: block; }
  .section_media-content {
    display: block;
    padding-left: 0;
    text-align: center; }
  .txt-sm {
    font-size: 16px; }
  .txt-md {
    font-size: 18px; }
  .txt-lg {
    font-size: 18px; }
  .wrapper {
    padding: 10px; }
  .mix-page-hd_sticky + .page-bd {
    padding-top: 23.4375%; }
  .box {
    padding-left: 10px;
    padding-right: 10px; }
  .box_small {
    padding-top: 10px;
    padding-bottom: 10px; }
  .box_medium {
    padding-top: 8.90625%;
    padding-bottom: 8.90625%; }
  .box_large {
    padding-top: 8.90625%;
    padding-bottom: 8.90625%; }
  .mix-btn_fullOnSM {
    display: block;
    width: 100%; }
  .feature-ft > * {
    display: block; }
  .hlist > * {
    display: block; }
  .hlist > * + * {
    margin-top: 5px; }
  .hlist_loose > * + * {
    margin-top: 15px; }
  .mix-hlist_divided > * + * {
    border-top: 1px solid; }
  .input {
    width: 100%;
    max-width: 100%;
    font-size: 16px; }
  .logo_mainNav {
    width: 50px; }
  /* Heavily inspired by: http://codepen.io/designcouch/pen/Atyop */
  .trigger {
    display: inline-block;
    width: 40px;
    height: 25px;
    position: relative;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out; }
  .trigger > span {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background: #000000;
    border-radius: 4px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s, ease-in-out; }
  .trigger > span:hover {
    color: #0066cc; }
  .trigger > span:nth-child(1) {
    top: 0px; }
  .trigger > span:nth-child(2),
  .trigger > span:nth-child(3) {
    top: 9px; }
  .trigger > span:nth-child(4) {
    top: 18px; }
  .trigger_isOpen > span:nth-child(1) {
    width: 0;
    top: 8px;
    left: 50%; }
  .trigger_isOpen > span:nth-child(2) {
    transform: rotate(45deg); }
  .trigger_isOpen > span:nth-child(3) {
    transform: rotate(-45deg); }
  .trigger_isOpen > span:nth-child(4) {
    width: 0;
    top: 8px;
    left: 50%; }
  .mainNav {
    position: relative;
    top: 0;
    margin-top: 16px;
    margin-bottom: -10px;
    background: #efefef; }
  .mainNav-item {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainNav-item + .mainNav-item {
    margin-left: 0;
    padding-left: 0; }
  .mainNav-item_subMenu {
    position: relative;
    display: block;
    box-shadow: none; }
  .subMenu-item {
    padding: 0; }
  .mix-mainNav_isHidden {
    position: absolute;
    top: -99999px;
    right: 0;
    left: 0;
    overflow: hidden;
    height: 0; }
  .txt-sm {
    font-size: 16px; }
  .txt-md {
    font-size: 16px; }
  .txt-lg {
    font-size: 16px; }
  /* ---------------------------------------------------------------------
 Vertical Rhythm

 An abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
  .vr {
    margin-bottom: 4px; }
  .vr_2x {
    margin-bottom: 8px; }
  .vr_4x {
    margin-bottom: 16px; }
  .vr_6x {
    margin-bottom: 24px; }
  .vr_8x {
    margin-bottom: 40px; } }

@media only screen and (max-width: 767px) and (min-width: 329px) {
  .page {
    background-color: #F2F2F2;
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2; }
  .page-hd {
    background: #ffffff;
    text-align: center; }
  .page-ft {
    border-top: 8px solid #aaa;
    background-color: #e0e0e0; }
  .mix-page-hd_static {
    padding-top: 2.34375%;
    padding-bottom: 2.34375%; }
  .mix-page-hd_sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 -4px 20px -2px #222222; } }

@media only screen and (max-width: 767px) and (min-width: 329px) and (max-width: 767px) and (min-width: 0) {
  .mix-page-hd_sticky + .page-bd {
    padding-top: 17.1875%; } }

@media only screen and (max-width: 767px) and (min-width: 329px) and (min-width: 768px) {
  .mix-page-hd_sticky + .page-bd {
    padding-top: 11.71875%; } }

@media only screen and (max-width: 767px) and (min-width: 329px) {
  .alert {
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    color: #246;
    background-color: #e2eef9;
    border: 1px solid #bac6d3;
    border-radius: 3px; }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .alert-caution {
    color: #4c4a42;
    background-color: #fff9ea;
    border-color: #dfd8c2; }
  .alert-error {
    color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2; }
  .blocks {
    margin: -20px 0 0 -20px;
    font-size: 0; }
  .blocks > * {
    display: inline-block;
    padding: 20px 0 0 20px;
    vertical-align: top;
    font-size: 18px;
    box-sizing: border-box; }
  .blocks_2up > * {
    width: 49.9%; }
  .blocks_3up > * {
    width: 33%; }
  .blocks_4up > * {
    width: 24%; }
  .box {
    padding-left: 20px;
    padding-right: 20px; }
  .box_small {
    padding-top: 2.34375%;
    padding-bottom: 2.34375%; }
  .box_medium,
  .box_large {
    padding-top: 10.15625%;
    padding-bottom: 10.15625%; }
  .box_narrow {
    padding-left: 10.15625%;
    padding-right: 10.15625%; }
  .mix-box_jumbotron {
    background: transparent url("/assets/images/black-and-white-city-houses-skyline.png") 50% 80% no-repeat;
    background-size: cover; }
  .mix-box_no-top {
    padding-top: 0 !important; }
  .mix-box_divided {
    border-bottom: 13px solid #efefef; }
  .mix-box_163202198 {
    background: #a3cac6; }
  .mix-box_255255255 {
    background-color: white; }
  .mix-box_258392 {
    background: #19535c; }
  .mix-box_126209242 {
    background: #7ed1f2; }
  .mix-box_191187157 {
    background: #bfbb9d; }
  .mix-box_645852 {
    background: #403a34; }
  .btnAsLink {
    border: 0;
    background: transparent;
    font: inherit;
    color: #0066cc;
    cursor: pointer; }
  .btnAsLink:hover {
    color: #2d9fe9;
    text-decoration: underline; }
  .btn {
    display: inline-block;
    margin: 0;
    padding: 6px;
    border: 3px solid #0066cc;
    background: #0066cc;
    color: #eeeeee;
    /* fallback for non rgba browsers */
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: normal;
    /* set to normal to .btn can be usd on inputs in firefox with consistency */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s; }
  .btn:hover {
    color: #0066cc;
    background: #ffffff;
    border: 3px solid #0066cc; }
  .btn-sm {
    padding: 4px 12px;
    font-size: 16px; }
  .btn_disabled {
    color: #666666;
    /* fallback for non rgba browsers */
    color: rgba(0, 0, 0, 0.3);
    background: #cccccc !important;
    /* override hovers - disabled buttons don't have hover states */ }
  .btn_block {
    display: block;
    width: 100%;
    text-align: center; }
  .mix-btn_alert {
    background: #d53b3b; }
  .mix-btn_alert:hover {
    background: #b81818; }
  .excerpt-bd {
    padding: 10px 0 20px 0; }
  .excerpt-bd > * + * {
    margin-top: 20px; }
  .feature-hd {
    max-width: 500px; }
  .feature-bd {
    padding-bottom: 2.34375%; }
  .grid:before,
  .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }
  .grid-col {
    float: left; }
  .grid-col-pull {
    float: right; } }

@media only screen and (max-width: 767px) and (min-width: 329px) and (min-width: 0px) {
  .grid-col-sm_1of6 {
    width: 16.66667%; }
  .mix-grid-col-sm_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-sm_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-sm_2of6 {
    width: 33.33333%; }
  .mix-grid-col-sm_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-sm_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-sm_3of6 {
    width: 50%; }
  .mix-grid-col-sm_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-sm_pull3of6 {
    margin-right: 50%; }
  .grid-col-sm_4of6 {
    width: 66.66667%; }
  .mix-grid-col-sm_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-sm_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-sm_5of6 {
    width: 83.33333%; }
  .mix-grid-col-sm_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-sm_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-sm_6of6 {
    width: 100%; }
  .mix-grid-col-sm_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-sm_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 767px) and (min-width: 329px) and (min-width: 767px) {
  .grid-col-md_1of6 {
    width: 16.66667%; }
  .mix-grid-col-md_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-md_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-md_2of6 {
    width: 33.33333%; }
  .mix-grid-col-md_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-md_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-md_3of6 {
    width: 50%; }
  .mix-grid-col-md_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-md_pull3of6 {
    margin-right: 50%; }
  .grid-col-md_4of6 {
    width: 66.66667%; }
  .mix-grid-col-md_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-md_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-md_5of6 {
    width: 83.33333%; }
  .mix-grid-col-md_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-md_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-md_6of6 {
    width: 100%; }
  .mix-grid-col-md_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-md_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 767px) and (min-width: 329px) and (min-width: 1027px) {
  .grid-col-lg_1of6 {
    width: 16.66667%; }
  .mix-grid-col-lg_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-lg_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-lg_2of6 {
    width: 33.33333%; }
  .mix-grid-col-lg_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-lg_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-lg_3of6 {
    width: 50%; }
  .mix-grid-col-lg_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-lg_pull3of6 {
    margin-right: 50%; }
  .grid-col-lg_4of6 {
    width: 66.66667%; }
  .mix-grid-col-lg_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-lg_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-lg_5of6 {
    width: 83.33333%; }
  .mix-grid-col-lg_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-lg_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-lg_6of6 {
    width: 100%; }
  .mix-grid-col-lg_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-lg_pull6of6 {
    margin-right: 100%; } }

@media only screen and (max-width: 767px) and (min-width: 329px) {
  .hdg {
    font-family: "Goudy Bookletter 1911", Georgia, serif;
    font-weight: normal;
    line-height: 1.2; }
  .hdg > a:hover {
    text-decoration: none; }
  .hdg_1 {
    font-size: 58px; }
  .hdg_2 {
    font-size: 40px; }
  .hdg_3 {
    font-size: 34px;
    font-weight: 500; }
  .hdg_4 {
    font-size: 30px; }
  .hdg_5 {
    font-size: 24px; }
  .hdg-tagline {
    font-size: 24px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4); }
  .mix-hdg_secondarySerif {
    font-family: "Junge", Georgia, serif; }
  .mix-hdg_sans {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .mix-hdg_caps {
    text-transform: uppercase; }
  .mix-hdg_accent {
    color: #7b0b14; }
  .mix-hdg_primaryGrey {
    color: #5a5b5d; }
  .mix-hdg_white {
    color: #ffffff; }
  .hlist > * {
    display: inline-block;
    vertical-align: middle; }
  .hlist > * + * {
    margin-left: 5px; }
  .hlist_loose > * + * {
    margin-left: 50px; }
  .mix-hlist_divided > * + * {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid; }
  .input {
    width: 100%;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #222222;
    border-radius: 2px;
    font-size: 18px; }
  .input-sm {
    padding-top: 8px;
    padding-bottom: 8px; }
  .input-md {
    padding-top: 12px;
    padding-bottom: 12px; }
  .input-lg {
    padding-top: 18px;
    padding-bottom: 18px; }
  .input-textarea {
    height: 160px;
    resize: none; }
  .mix-input_block {
    display: block;
    width: 95%; }
  .link,
  .link:visited {
    color: #0066cc; }
  .link:hover {
    color: #2d9fe9;
    text-decoration: underline;
    transition: all, 0.12s; }
  .link-natural {
    color: #5a5b5d; }
  .logo_cta {
    width: 100%;
    min-width: 75px;
    max-width: 250px; }
  .mainNav-mobile {
    display: table;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px; }
  .mainNav-mobile-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .mainNav-mobile-item + .mainNav-mobile-item {
    text-align: right;
    padding-left: 50px; }
  .mainNav-item {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px; }
  .mainNav-item > a,
  .mainNav-item > a:visited,
  .subMenu-item > a,
  .subMenu-item > a:visited {
    color: #000000; }
    .mainNav-item > a:hover,
    .mainNav-item > a:visited:hover,
    .subMenu-item > a:hover,
    .subMenu-item > a:visited:hover {
      color: #0066cc; }
  .mainNav-item + .mainNav-item {
    margin-left: 20px;
    padding-left: 20px; }
  .subMenu-item {
    padding: 10px 30px 10px 10px; }
  .subMenu-item + .subMenu-item {
    margin-top: 5px; } }

@media only screen and (max-width: 767px) and (min-width: 329px) and (min-width: 329px) {
  .mainNav-item_subMenu {
    position: absolute;
    left: -99999px;
    box-shadow: 0 4px 8px -3px #666666; }
  .mainNav-item:hover > .mainNav-item_subMenu {
    left: -5px;
    padding-top: 10px;
    background: #ffffff; } }

@media only screen and (max-width: 767px) and (min-width: 329px) {
  .media {
    overflow: hidden; }
  .media-img {
    float: left;
    margin-right: 20px; }
  .media-bd {
    padding-left: 100px;
    overflow: hidden;
    line-height: 2em; }
  .preview-hd {
    margin-bottom: 2px; }
  .preview-subhd {
    margin-bottom: 12px; }
  .priceLevel {
    font-size: 0; }
  .priceLevel > * {
    width: 33.33334%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    box-sizing: border-box; }
  .priceLevel-item {
    padding: 2.34375%; }
  .priceLevel-item-hd {
    padding-bottom: 23.4375%; }
  .section {
    padding-top: 30px;
    padding-bottom: 30px; }
  .section_media {
    display: table;
    width: 100%;
    padding: 30px 0; }
  .section_media-img {
    display: table-cell;
    padding-bottom: 2.34375%;
    text-align: center; }
  .section_media-content {
    display: table-cell;
    height: 100%;
    padding-left: 20px;
    vertical-align: middle; }
  .txt-xsm {
    font-size: 8px; }
  .txt-sm {
    font-size: 16px; }
  .txt-md {
    font-size: 22px; }
  .txt-lg {
    font-size: 28px; }
  .txt-left {
    text-align: left; }
  .txt-center {
    text-align: center; }
  .txt-right {
    text-align: right; }
  .txt-spacious {
    padding-top: 20px; }
  .mix-color_primary {
    color: #0066cc; }
  .mix-txt_primaryGrey {
    color: #5a5b5d; }
  .mix-txt_light {
    color: #999999; }
  .mix-txt_italic {
    font-style: italic; }
  .mix-txt_uppercase {
    text-transform: uppercase; }
  .vlist {
    margin-top: 10px; }
  .vlist > * {
    padding: 10px 0; }
  .mix-vlist_spacious > * + * {
    padding: 20px 0; }
  .mix-vlist_divided > * + * {
    border-top: 2px solid #bebebe; }
  .mix-vlist_unordered > * {
    margin-left: 20px;
    list-style: square; }
  /* ---------------------------------------------------------------------
 Vertical Rhythm

 An abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
  .vr {
    margin-bottom: 8px; }
  .vr_2x {
    margin-bottom: 16px; }
  .vr_4x {
    margin-bottom: 32px; }
  .vr_6x {
    margin-bottom: 48px; }
  .vr_8x {
    margin-bottom: 80px; }
  .well {
    background: #efefef; }
  .wrapper {
    padding: 20px; }
  .mix-page-hd_sticky + .page-bd {
    padding-top: 17.1875%; }
  .blocks {
    margin: 0; }
  .blocks > * {
    display: block;
    width: 100%; }
  .btn {
    font-size: 16px; }
  .feature-hd {
    margin: 0 auto;
    padding-bottom: 2.34375%;
    text-align: center; }
  .feature-bd {
    padding-bottom: 2.34375%; }
  .feature-ft > * + * {
    margin-top: 2.34375%; }
  .hdg_1 {
    font-size: 33px; }
  .hdg_2 {
    font-size: 29px; }
  .hdg_3 {
    font-size: 26px;
    font-weight: 500; }
  .hdg_4 {
    font-size: 24px; }
  .hdg_5 {
    font-size: 21px; }
  .hdg-tagline {
    font-size: 18px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2); }
  .image-constrained {
    max-height: 100px; }
  .priceLevel > * {
    display: block;
    width: 100%; }
  .priceLevel > * + * {
    margin-top: 10px; }
  .priceLevel-item {
    padding: 10px; }
  .priceLevel-item-hd {
    padding-bottom: 8.90625%; }
  .section {
    padding-top: 10px;
    padding-bottom: 10px; }
  .section_media {
    display: block; }
  .section_media-img {
    display: block; }
  .section_media-content {
    display: block;
    padding-left: 0;
    text-align: center; }
  .txt-sm {
    font-size: 16px; }
  .txt-md {
    font-size: 18px; }
  .txt-lg {
    font-size: 18px; }
  .wrapper {
    padding: 10px; } }

@media only screen and (min-width: 768px) {
  .page {
    background-color: #F2F2F2;
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2; }
  .page-hd {
    background: #ffffff;
    text-align: center; }
  .page-ft {
    border-top: 8px solid #aaa;
    background-color: #e0e0e0; }
  .mix-page-hd_static {
    padding-top: 2.34375%;
    padding-bottom: 2.34375%; }
  .mix-page-hd_sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 -4px 20px -2px #222222; } }

@media only screen and (min-width: 768px) and (max-width: 767px) and (min-width: 0) {
  .mix-page-hd_sticky + .page-bd {
    padding-top: 17.1875%; } }

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .mix-page-hd_sticky + .page-bd {
    padding-top: 11.71875%; } }

@media only screen and (min-width: 768px) {
  .alert {
    margin-bottom: 10px;
    padding: 15px;
    position: relative;
    color: #246;
    background-color: #e2eef9;
    border: 1px solid #bac6d3;
    border-radius: 3px; }
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .alert-caution {
    color: #4c4a42;
    background-color: #fff9ea;
    border-color: #dfd8c2; }
  .alert-error {
    color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2; }
  .blocks {
    margin: -20px 0 0 -20px;
    font-size: 0; }
  .blocks > * {
    display: inline-block;
    padding: 20px 0 0 20px;
    vertical-align: top;
    font-size: 18px;
    box-sizing: border-box; }
  .blocks_2up > * {
    width: 49.9%; }
  .blocks_3up > * {
    width: 33%; }
  .blocks_4up > * {
    width: 24%; }
  .box {
    padding-left: 20px;
    padding-right: 20px; }
  .box_small {
    padding-top: 2.34375%;
    padding-bottom: 2.34375%; }
  .box_medium,
  .box_large {
    padding-top: 10.15625%;
    padding-bottom: 10.15625%; }
  .box_narrow {
    padding-left: 10.15625%;
    padding-right: 10.15625%; }
  .mix-box_jumbotron {
    background: transparent url("/assets/images/black-and-white-city-houses-skyline.png") 50% 80% no-repeat;
    background-size: cover; }
  .mix-box_no-top {
    padding-top: 0 !important; }
  .mix-box_divided {
    border-bottom: 13px solid #efefef; }
  .mix-box_163202198 {
    background: #a3cac6; }
  .mix-box_255255255 {
    background-color: white; }
  .mix-box_258392 {
    background: #19535c; }
  .mix-box_126209242 {
    background: #7ed1f2; }
  .mix-box_191187157 {
    background: #bfbb9d; }
  .mix-box_645852 {
    background: #403a34; }
  .btnAsLink {
    border: 0;
    background: transparent;
    font: inherit;
    color: #0066cc;
    cursor: pointer; }
  .btnAsLink:hover {
    color: #2d9fe9;
    text-decoration: underline; }
  .btn {
    display: inline-block;
    margin: 0;
    padding: 6px;
    border: 3px solid #0066cc;
    background: #0066cc;
    color: #eeeeee;
    /* fallback for non rgba browsers */
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: normal;
    /* set to normal to .btn can be usd on inputs in firefox with consistency */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.2s; }
  .btn:hover {
    color: #0066cc;
    background: #ffffff;
    border: 3px solid #0066cc; }
  .btn-sm {
    padding: 4px 12px;
    font-size: 16px; }
  .btn_disabled {
    color: #666666;
    /* fallback for non rgba browsers */
    color: rgba(0, 0, 0, 0.3);
    background: #cccccc !important;
    /* override hovers - disabled buttons don't have hover states */ }
  .btn_block {
    display: block;
    width: 100%;
    text-align: center; }
  .mix-btn_alert {
    background: #d53b3b; }
  .mix-btn_alert:hover {
    background: #b81818; }
  .excerpt-bd {
    padding: 10px 0 20px 0; }
  .excerpt-bd > * + * {
    margin-top: 20px; }
  .feature-hd {
    max-width: 500px; }
  .feature-bd {
    padding-bottom: 2.34375%; }
  .grid:before,
  .grid:after {
    content: " ";
    display: table; }
  .grid:after {
    clear: both; }
  .grid-col {
    float: left; }
  .grid-col-pull {
    float: right; } }

@media only screen and (min-width: 768px) and (min-width: 0px) {
  .grid-col-sm_1of6 {
    width: 16.66667%; }
  .mix-grid-col-sm_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-sm_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-sm_2of6 {
    width: 33.33333%; }
  .mix-grid-col-sm_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-sm_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-sm_3of6 {
    width: 50%; }
  .mix-grid-col-sm_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-sm_pull3of6 {
    margin-right: 50%; }
  .grid-col-sm_4of6 {
    width: 66.66667%; }
  .mix-grid-col-sm_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-sm_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-sm_5of6 {
    width: 83.33333%; }
  .mix-grid-col-sm_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-sm_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-sm_6of6 {
    width: 100%; }
  .mix-grid-col-sm_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-sm_pull6of6 {
    margin-right: 100%; } }

@media only screen and (min-width: 768px) and (min-width: 767px) {
  .grid-col-md_1of6 {
    width: 16.66667%; }
  .mix-grid-col-md_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-md_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-md_2of6 {
    width: 33.33333%; }
  .mix-grid-col-md_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-md_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-md_3of6 {
    width: 50%; }
  .mix-grid-col-md_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-md_pull3of6 {
    margin-right: 50%; }
  .grid-col-md_4of6 {
    width: 66.66667%; }
  .mix-grid-col-md_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-md_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-md_5of6 {
    width: 83.33333%; }
  .mix-grid-col-md_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-md_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-md_6of6 {
    width: 100%; }
  .mix-grid-col-md_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-md_pull6of6 {
    margin-right: 100%; } }

@media only screen and (min-width: 768px) and (min-width: 1027px) {
  .grid-col-lg_1of6 {
    width: 16.66667%; }
  .mix-grid-col-lg_push1of6 {
    margin-left: 16.66667%; }
  .mix-grid-col-lg_pull1of6 {
    margin-right: 16.66667%; }
  .grid-col-lg_2of6 {
    width: 33.33333%; }
  .mix-grid-col-lg_push2of6 {
    margin-left: 33.33333%; }
  .mix-grid-col-lg_pull2of6 {
    margin-right: 33.33333%; }
  .grid-col-lg_3of6 {
    width: 50%; }
  .mix-grid-col-lg_push3of6 {
    margin-left: 50%; }
  .mix-grid-col-lg_pull3of6 {
    margin-right: 50%; }
  .grid-col-lg_4of6 {
    width: 66.66667%; }
  .mix-grid-col-lg_push4of6 {
    margin-left: 66.66667%; }
  .mix-grid-col-lg_pull4of6 {
    margin-right: 66.66667%; }
  .grid-col-lg_5of6 {
    width: 83.33333%; }
  .mix-grid-col-lg_push5of6 {
    margin-left: 83.33333%; }
  .mix-grid-col-lg_pull5of6 {
    margin-right: 83.33333%; }
  .grid-col-lg_6of6 {
    width: 100%; }
  .mix-grid-col-lg_push6of6 {
    margin-left: 100%; }
  .mix-grid-col-lg_pull6of6 {
    margin-right: 100%; } }

@media only screen and (min-width: 768px) {
  .hdg {
    font-family: "Goudy Bookletter 1911", Georgia, serif;
    font-weight: normal;
    line-height: 1.2; }
  .hdg > a:hover {
    text-decoration: none; }
  .hdg_1 {
    font-size: 58px; }
  .hdg_2 {
    font-size: 40px; }
  .hdg_3 {
    font-size: 34px;
    font-weight: 500; }
  .hdg_4 {
    font-size: 30px; }
  .hdg_5 {
    font-size: 24px; }
  .hdg-tagline {
    font-size: 24px;
    color: #ffffff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4); }
  .mix-hdg_secondarySerif {
    font-family: "Junge", Georgia, serif; }
  .mix-hdg_sans {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .mix-hdg_caps {
    text-transform: uppercase; }
  .mix-hdg_accent {
    color: #7b0b14; }
  .mix-hdg_primaryGrey {
    color: #5a5b5d; }
  .mix-hdg_white {
    color: #ffffff; }
  .hlist > * {
    display: inline-block;
    vertical-align: middle; }
  .hlist > * + * {
    margin-left: 5px; }
  .hlist_loose > * + * {
    margin-left: 50px; }
  .mix-hlist_divided > * + * {
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid; }
  .input {
    width: 100%;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #222222;
    border-radius: 2px;
    font-size: 18px; }
  .input-sm {
    padding-top: 8px;
    padding-bottom: 8px; }
  .input-md {
    padding-top: 12px;
    padding-bottom: 12px; }
  .input-lg {
    padding-top: 18px;
    padding-bottom: 18px; }
  .input-textarea {
    height: 160px;
    resize: none; }
  .mix-input_block {
    display: block;
    width: 95%; }
  .link,
  .link:visited {
    color: #0066cc; }
  .link:hover {
    color: #2d9fe9;
    text-decoration: underline;
    transition: all, 0.12s; }
  .link-natural {
    color: #5a5b5d; }
  .logo_cta {
    width: 100%;
    min-width: 75px;
    max-width: 250px; }
  .mainNav-mobile {
    display: table;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px; }
  .mainNav-mobile-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .mainNav-mobile-item + .mainNav-mobile-item {
    text-align: right;
    padding-left: 50px; }
  .mainNav-item {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px; }
  .mainNav-item > a,
  .mainNav-item > a:visited,
  .subMenu-item > a,
  .subMenu-item > a:visited {
    color: #000000; }
    .mainNav-item > a:hover,
    .mainNav-item > a:visited:hover,
    .subMenu-item > a:hover,
    .subMenu-item > a:visited:hover {
      color: #0066cc; }
  .mainNav-item + .mainNav-item {
    margin-left: 20px;
    padding-left: 20px; }
  .subMenu-item {
    padding: 10px 30px 10px 10px; }
  .subMenu-item + .subMenu-item {
    margin-top: 5px; } }

@media only screen and (min-width: 768px) and (min-width: 329px) {
  .mainNav-item_subMenu {
    position: absolute;
    left: -99999px;
    box-shadow: 0 4px 8px -3px #666666; }
  .mainNav-item:hover > .mainNav-item_subMenu {
    left: -5px;
    padding-top: 10px;
    background: #ffffff; } }

@media only screen and (min-width: 768px) {
  .media {
    overflow: hidden; }
  .media-img {
    float: left;
    margin-right: 20px; }
  .media-bd {
    padding-left: 100px;
    overflow: hidden;
    line-height: 2em; }
  .preview-hd {
    margin-bottom: 2px; }
  .preview-subhd {
    margin-bottom: 12px; }
  .priceLevel {
    font-size: 0; }
  .priceLevel > * {
    width: 33.33334%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    box-sizing: border-box; }
  .priceLevel-item {
    padding: 2.34375%; }
  .priceLevel-item-hd {
    padding-bottom: 23.4375%; }
  .section {
    padding-top: 30px;
    padding-bottom: 30px; }
  .section_media {
    display: table;
    width: 100%;
    padding: 30px 0; }
  .section_media-img {
    display: table-cell;
    padding-bottom: 2.34375%;
    text-align: center; }
  .section_media-content {
    display: table-cell;
    height: 100%;
    padding-left: 20px;
    vertical-align: middle; }
  .txt-xsm {
    font-size: 8px; }
  .txt-sm {
    font-size: 16px; }
  .txt-md {
    font-size: 22px; }
  .txt-lg {
    font-size: 28px; }
  .txt-left {
    text-align: left; }
  .txt-center {
    text-align: center; }
  .txt-right {
    text-align: right; }
  .txt-spacious {
    padding-top: 20px; }
  .mix-color_primary {
    color: #0066cc; }
  .mix-txt_primaryGrey {
    color: #5a5b5d; }
  .mix-txt_light {
    color: #999999; }
  .mix-txt_italic {
    font-style: italic; }
  .mix-txt_uppercase {
    text-transform: uppercase; }
  .vlist {
    margin-top: 10px; }
  .vlist > * {
    padding: 10px 0; }
  .mix-vlist_spacious > * + * {
    padding: 20px 0; }
  .mix-vlist_divided > * + * {
    border-top: 2px solid #bebebe; }
  .mix-vlist_unordered > * {
    margin-left: 20px;
    list-style: square; }
  /* ---------------------------------------------------------------------
 Vertical Rhythm

 An abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
  .vr {
    margin-bottom: 8px; }
  .vr_2x {
    margin-bottom: 16px; }
  .vr_4x {
    margin-bottom: 32px; }
  .vr_6x {
    margin-bottom: 48px; }
  .vr_8x {
    margin-bottom: 80px; }
  .well {
    background: #efefef; }
  .wrapper {
    padding: 20px; } }
