// ---------------------------------------------------------------------
// Section
// ---------------------------------------------------------------------
$LOCAL_BASE_PADDING: $BASE_PADDING * 3;

.section {
    padding-top: $LOCAL_BASE_PADDING;
    padding-bottom: $LOCAL_BASE_PADDING;
}

.section_media {
    display: table;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.section_media-img {
    display: table-cell;
    text-align: center;
}

.section_media-content {
    display: table-cell;
    height: 100%;
    padding-left: 20px;
    vertical-align: middle;
}
