/* ---------------------------------------------------------------------
 Vertical Rhythm

 An abstract inter-modular object used to add space between elements
------------------------------------------------------------------------ */
$BASE_MARGIN: 4px;


.vr {
    margin-bottom: $BASE_MARGIN;
}

.vr_2x {
    margin-bottom: $BASE_MARGIN * 2;
}

.vr_4x {
    margin-bottom: $BASE_MARGIN * 4;
}

.vr_6x {
    margin-bottom: $BASE_MARGIN * 6;
}

.vr_8x {
    margin-bottom: $BASE_MARGIN * 8;
}
