// ---------------------------------------------------------------------
// Price Level
// ---------------------------------------------------------------------
.priceLevel {
    // margin: -20px 0 0 -20px;
    font-size: 0;
}

.priceLevel > * {
    width: 33.33334%;
    display: inline-block;
    // padding: 20px 0 0 20px;
    vertical-align: top;
    font-size: $BASE_FONT_SIZE;
    box-sizing: border-box;
}

.priceLevel-item {
    padding: $PADDING_TINY;
}

.priceLevel-item-hd {
    padding-bottom: $PADDING_XXL;
}
.priceLevel-item-bd {}
.priceLevel-item-ft {}
