// ---------------------------------------------------------------------
// Price Level
// ---------------------------------------------------------------------
.priceLevel {}

.priceLevel > * {
    display: block;
    width: 100%;
}

.priceLevel > * + * {
    margin-top: 10px;
}

.priceLevel-item {}
.priceLevel-item-hd {}
.priceLevel-item-bd {}
.priceLevel-item-ft {}
