// ---------------------------------------------------------------------
// Text
// ---------------------------------------------------------------------
.txt {}

.txt-xsm {}
.txt-sm {
  font-size: $BASE_FONT_SIZE - 2px;
}

.txt-md {
  font-size: $BASE_FONT_SIZE + 4px;
}

.txt-lg {
    font-size: $BASE_FONT_SIZE + 10px;
}

.txt-xlg {}

.txt-left { text-align: left; }
.txt-center { text-align: center; }
.txt-right { text-align: right; }

.mix-color_primary {
    color: $COLOR_PRIMARY;
}

.mix-txt_primaryGrey {
    color: $COLOR_PRIMARY_GREY;
}

.mix-txt_light {
   color: $COLOR_MID_GREY;
}

.mix-txt_italic {
  font-style: italic;
}

.mix-txt_uppercase {
    text-transform: uppercase;
}
