// ---------------------------------------------------------------------
// Text - Small screen
// ---------------------------------------------------------------------
.txt-sm {
    font-size: $BASE_FONT_SIZE - 2px;
}

.txt-md {
    font-size: $BASE_FONT_SIZE - 2px;
}

.txt-lg {
    font-size: $BASE_FONT_SIZE - 2px;
}

.txt-xlg {}

// .txt-left { text-align: left; }
// .txt-center { text-align: center; }
// .txt-right { text-align: right; }

