// ---------------------------------------------------------------------
// Vertical list
// ---------------------------------------------------------------------
.vlist {
    margin-top: 10px;
}

.vlist > * {
    padding: 10px 0;
}

.mix-vlist_spacious > * + * {
    padding: 20px 0;
}

.mix-vlist_divided > * + * {
    border-top: 2px solid #bebebe;
}

.mix-vlist_unordered > * {
    margin-left: 20px;
    list-style: square;
}
