<div class="page-ft">
    <div class="box box_small">
        <div class="txt txt-center txt-md">
            <address>
                QuickAssist<br />
                Minneapolis, MN
            </address>
            <p>612-615-7795</p>
            <p>
                <a class="link" href="http://proadvisor.intuit.com/quickbooks-help/david-j-geslin-2" target="_blank">
                    Contact us!
                </a>
            </p>
        </div>
    </div>
</div>
