<div class="page-ft">
  <!-- <div class="blocks blocks_2up"> -->
    <div class="box box_small">
        <div class="txt txt-center txt-md">
            <address>
              QuickAssist<br />
              Minneapolis, MN
            </address>
            <p>612-615-7795</p>
            <p>
              <a class="link" href="http://quickassistblog.com/contact/" target="_blank">
                  Contact us!
              </a>
            </p>
            <p>
                <a class="link" href="https://ws.onehub.com/signin" target="_blank">
                  Client Portal
                </a>
            </p>
        </div>
    </div>
    <div class="box box_small mix-box_no-top">
        <div class="txt txt-center txt-sm">
            <div class="txt-sm">If you need tax or CFO services, contact:</div>
              <a class="link" href="http://www.cpainthecloud.com" target="_blank">
                  cpainthecloud.com
              </a>
        </div>
    </div>
  <!-- </div> -->
</div>
