<div class="page-hd mix-page-hd_bordered">
    <div class="wrapper">
        <ul class="mainNav">
            <li class="mainNav-item">
                <a href="#">Details</a>
                <ul class="mainNav-item_subMenu">
                    <li>
                        <a href="#">Online</a>
                    </li>
                </ul>
            </li>
            <li class="mainNav-item">
                <a href="#">Pricing</a>
            </li>
            <li class="mainNav-item">
                <a href="#">More</a>
                <ul class="mainNav-item_subMenu">
                    <li>
                        <a href="#">Software</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Docs</a>
                    </li>
                    <li>
                        <a href="#">Reviews</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

