<div class="page-hd">
    <div class="wrapper">
        <ul class="hlist">
            <li>
                <a href="#">Details</a>
            </li>
            <li>
                <a href="#">Pricing</a>
            </li>
            <li>
                <a href="#">More</a>
            </li>
        </ul>
    </div>
</div>

