<!DOCTYPE html>
<html>
<head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuickAssist</title>

    <link rel="stylesheet" href="/assets/styles/modern.css">

    <%= csrf_meta_tags %>
</head>
<body>

    <div class="page" data-controller="js-app">
        <%= render 'layouts/header' %>

        <div class="page-bd">
            <%= yield %>
        </div>

        <%= render 'layouts/footer' %>
    </div>

    <script src=<% root_path %>"/assets/scripts/bundle.js"></script>
</body>
</html>
